// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.tree-sitter-syntax-visualizer {
  .tree-sitter-panel {
    height: 100%;
    display: flex;
    flex-direction: column;

    .tree-sitter-syntax-tree {
      flex: 1 1 auto;
      overflow: auto;
      padding: 10px;

      .ast-node {
        // &.tree-sitter-selected::before {
        //   background: #2c313a;
        //   content: "";
        //   position: absolute;
        //   left: 0;
        //   right: 0;
        //   height: 2em;
        // }

        &.has-children {
          .ast-node-toggle {
            &::before {
              font-family: 'Octicons Regular';
              font-weight: normal;
              font-style: normal;
              display: inline-block;
              line-height: 1;
              font-size: 12px;
              width: 12px;
              height: 12px;
            }
          }

          &.expanded > .ast-node-toggle {
            &::before {
              content: "\f0a3";
            }
          }

          &.collapsed > .ast-node-toggle {
            &::before {
              content: "\f078";
            }
          }
        }

        &:not(.has-children) {
          .ast-node-header {
            margin-left: 13px;
          }
        }

        .ast-node-toggle, .ast-node-header {
          display: inline-block;
        }

        .ast-node-list {
          margin-left: 13px;
        }
      }

      .ast-node-list {
        list-style: none;
        padding: 0;
      }
    }

    .tree-sitter-property-view {
      flex: 1 1 auto;
      min-height: 300px;
      padding: 10px;

      table {
        td + td {
          padding-left: 5px;
        }
      }
    }
  }
}
